:root {
  --primaryColor: rgb(29, 155, 240);
  --textColor: rgb(15, 20, 25);
  --borderColor: rgb(239, 243, 244);
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('/assets/fonts/chirp-heavy-web.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('/assets/fonts/chirp-bold-web.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('/assets/fonts/chirp-medium-web.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'TwitterChirp';
  src: url('/assets/fonts/chirp-regular-web.woff');
  font-weight: 400;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 14px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: var(--textColor);
}
