.wrapper {
  min-height: 835px;
  background: #fff;
  --left: 251px;
  --middle: 600px;
  --right: 350px;
  // --middle: calc(100% - var(--left) - var(--right));
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-sidebar {
  height: 100%;
  width: var(--left);
}

.main-content {
  position: relative;
  width: 600px;
  border-left: 1px solid rgb(239, 243, 244);
  border-right: 1px solid rgb(239, 243, 244);
  min-height: 100vh;
  align-items: flex-start;
  flex-shrink: 1;
}

.content-inner {
  display: flex;
  justify-content: space-between;
  width: 990px;
  align-items: stretch;
}

.right-sidebar {
  width: var(--right);
  margin-right: 10px;
}
