.tweet {
  margin-top: 10px;
  display: flex;
  position: relative;

  .avatar {
    margin-right: 15px;
    display: flex;
    flex-direction: column;

    img {
      border-radius: 50%;
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }

  .tweet-connector {
    width: 2px;
    background-color: rgb(207, 217, 222);
    margin-top: 4px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
  }

  .details {
    flex-grow: 1;

    .tweet-text {
      margin-top: 3px;
      font-size: 15px;
      line-height: 20px;
      overflow-wrap: break-word;
      padding-bottom: 12px;
    }

    .replying-info {
      color: #555;
      display: flex;
      font-size: 14px;
      padding-top: 4px;
      padding-bottom: 16px;
    }

    .replying-info-actor {
      margin-left: 5px;
      color: var(--primaryColor);
    }
  }
}

.comment {
  display: flex;
}
