.wrapper {
  display: flex;
  margin-bottom: 2px;
}

.fullname {
  color: rgb(15, 20, 25);
  font-size: 15px;
  font-weight: 700;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.username,
.tweet-date {
  font-size: 15px;
  font-weight: 400;
  color: rgb(83, 100, 113);
}

.username {
  margin-left: 5px;
}

.tweet-date {
  margin-left: 15px;
  position: relative;

  &::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #777;
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}
