.button {
  min-width: 77px;
  min-height: 32px;
  background-color: rgb(15, 20, 25);
  color: #fff;
  padding: 0 16px;
  border-radius: 9999px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: 'TwitterChirp';
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  &:hover {
    background-color: rgb(39, 44, 48);
    transition-property: background-color, box-shadow;
    transition-duration: 0.1s;
  }
}

.following {
  width: 97px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(15, 20, 25);
  border: 1px solid rgb(207, 217, 222);

  &.unfollow-hover {
    background-color: rgba(244, 33, 46, 0.1);
    color: rgb(244, 33, 46);
    border: 1px solid rgb(253, 201, 206);
  }
}
